<div class = "container ">
  <h1 align = "center"><%= t('category.new.title') %></h1>
  <div class = "list-group-item px-20 radius_edit">
    <%= render 'form', category: @category %>
    <div class = "pjax-container">
      <%= link_to "#{t('product.show.back')}", admin_categories_path, class:"btn btn-outline-success btn-block btn-sm"%>
    </div>
  </div>
</div>
