<div class = "container">
  <h1 align = "center"><%= t('product.edit.title') %></h1>
  <div class = "list-group-item px-20" style = "border-radius: 10px" >
    <%= render 'form', product: @product %>
    <div class = "pjax-container">
    </div>
  </div>
</div>
