<div class = "container">
  <h1 align = "center"><%= t('product.edit.title') %></h1>
  <div class = "list-group-item px-20 radius_edit">
    <%= render 'form', product: @product %>
    <div class = "pjax-container"></div>
  </div>
</div>
