<br><br><br>
<div class = "container ">
  <h1 align = "center">New Product</h1>
  <div class = "list-group-item px-20" style = "border-radius: 10px" >
    <%= render 'form', pruduct: @pruduct %>
    <div class = "pjax-container">
    </div>
  </div>
</div>
