<div class="container">
  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>
  <p><%= @product.description %></p>

  <% @product.images.each do |images| %>
     <%= image_tag images.url(:large) %>
  <% end %>
</div>
