// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.radius_edit {
  border-radius: 10px;
}

.color{
  background-color: #000;
  height: 1px;
}

.color1{
  background-color: #000;
}

.color2{
  color: black;
}

.color2:hover{
  color: red;
}

.padding{
  padding: 30px 40px;
}

.title {
    color: black;
}

.title:hover {
  color: red;
  text-decoration: none;
}

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('https://i.imgur.com/8Xzb6Ro.png') no-repeat;
}

#reviewStars-input {

  overflow: hidden;
  *zoom: 1;

  position: relative;
  float: left;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;

  width: 25px;
  height: 21px;

  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position: 0 -21px;
  height: 21px;
  width: 25px;
}

#reviewStars-input label {
  background-position: 0 0;
  height: 21px;
  width: 25px;
  float: right;
  cursor: pointer;
  margin-right: 10px;

  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -21px;
  height: 21px;
  width: 25px;
}

#reviewStars-input #comment_rating_1 {
  left: 0px;
}star-4
#reviewStars-input #comment_rating_2 {
  left: 53px;
}
#reviewStars-input #comment_rating_3 {
  left: 106px;
}
#reviewStars-input #comment_rating_4 {
  left: 149px;
}
#reviewStars-input #comment_rating_5 {
  left: 150px;
}
#reviewStars-input #comment_rating_6 {
  left: 190px;
}
