// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.radius_edit {
  border-radius: 10px;
}
.color{
  background-color: #000;
  height: 1px;
}
.color1{
  background-color: #000;
}

.padding{
  padding: 30px 40px;
}
