<hr class= "color1">
<hr class= "color">
<br>
<div align = "center">
  <%= link_to "#{t('footer.delivery.about')}", product_about_path, class:"title" %><br>
  <%= link_to "#{t('footer.delivery.delivery')}", product_delivery_path, class:"title" %>
</div>
<div class = "footer-copyright text-center py-3 ">© 2020 Comix shop:
  <strong>RoR</strong><br>
  <i class = "fab fa-facebook" ></i>
  <i class = "fab fa-github"></i>
  <i class = "fab fa-telegram"></i>
</div>
