<hr style="background-color: #000;" >
<hr style="background-color: #000; height: 1px;" >
    <br>
    <%= render 'footer/delivery'%>
    <div class = "footer-copyright text-center py-3 ">© 2020 Comix shop:
      <strong>RoR</strong><br>
      <i class = "fab fa-facebook" ></i>
      <i class = "fab fa-github"></i>
      <i class = "fab fa-telegram"></i>
    </div>
