<h1>Доставка</h1>
Замовлення зроблені або оплачені до 12:00 відправляються в той же день, після — на наступний робочий. Відправлення не здійснюються у вихідні дні, також можливі невеликі затримки в період великих акцій.
