<h1 align = "center"><%= t('footer.delivery.about') %></h1>
<div class="container">
  <p><i class="fas fa-envelope"></i> mail@comix_shop.com</p>
  <p>Електронна пошта — наш основний канал зв'язку. Пишіть з будь-яких питань: пропозиції, побажання, уточнення, проблеми із замовленням, питання по поверненню або обміну — та про що завгодно. </p>
  <p><strong>Час роботи:</strong> понеділок-п'ятниця з 10:00 до 18:00. Субота, неділя та святкові дні — вихідні.</p>
</div>
