<h1 align = "center"><%= t('footer.delivery.delivery') %></h1>
<div class="container">
  <p>Замовлення зроблені або оплачені до 12:00 відправляються в той же день, після — на наступний робочий. Відправлення не здійснюються у вихідні дні, також можливі невеликі затримки в період великих акцій.</p>
  <h4>Оперативна доставка по Україні</h4>
  <p>Замовлення доставляються компанією «Нова Пошта» у відділення перевізника. Місто відправлення — Черкаси. Терміни: 1-3 дня. Орієнтовна вартість: 40-50 грн. Безкоштовна доставка при замовленні від 499 грн!*</p>
  <p>Після оформлення замовлення вам залишиться тільки дочекатися швидкої доставки. Ми не потривожимо вас непотрібними дзвінками. Статус обробки замовлення ви зможете відслідковувати в особистому кабінеті, також вам будуть приходити інформаційні СМС повідомлення. Замовлення буде надійно запаковано, а охороною опікується сам Темний Лицар, так що за безпеку посилки можете не хвилюватися. Після відправки ви отримаєте номер для відстеження посилки.</p>
  <p>Зверніть увагу! Відправлення буде автоматично повернено назад на п'ятий день зберігання, якщо ви його не отримаєте за цей термін. Про подальші дії в цьому випадку читайте в розділі «Питання та відповіді».</p>
  <h2 align = "center">Оплата</h2>
  <p>Всі оплати проводяться в автоматичному режимі через платіжний сервіс під час оформлення замовлення. Також оплатити замовлення можна і після оформлення в особистому кабінеті повної версії сайту, натиснувши на «Оплатити замовлення» на сторінці зі списком замовлень. Якщо оплата не буде здійснена протягом 2-х днів з моменту оформлення замовлення, то воно буде автоматично скасовано.</p>



  <p><strong>Пластиковою карткою</strong> Зручна онлайн оплата за допомогою платіжних або кредитних карт. Без комісії! Відразу після оформлення ви перейдете на сторінку оплати, для введення даних карти або сканування QR коду. Також в особистому кабінеті з'явиться кнопка «Оплатити замовлення», щоб зробити це пізніше.</p>
  <p><strong>Приват24, термінал ПриватБанку</strong> Оплатити замовлення можна в Приват24 і терміналі самообслуговування. Без комісії! Для оплати через термінал виберіть пункт оплати «Карткою, Приват24 або через термінал», далі на сторінці оплати — «Готівкою» і дотримуйтесь інструкцій. </p>
  <p><strong>Накладеним платежем</strong> Оплата при отриманні у відділенні Нової Пошти. Для замовлень понад 80 грн. Плата за грошовий переказ — 2% від суми замовлення + 20 грн за оформлення. При безкоштовній доставці грошовий переказ за рахунок покупця.</p>
</div>
